---
layout: layout.njk
title: Home
---

<header>
  <span>Total</span>
  <is-land import="./js/counter.js">
    <cc-counter></cc-counter>
  </is-land>
</header>
<main>
  <aside>
    <nav>
      <ul id="variants" class="box-variants">
        {% for item in variants %}
          <is-land import="./js/variant.js">
            <cc-variant variant="{{item.variant | dump}}" flavors="{{item.flavors | dump}}"></cc-variant>
          </is-land>
          {# <li>
            <img width="30" height="30" loading="lazy" src="{{item['variant']['logo']}}" alt="{{item.variant.name}}">
            <span>{{item.variant.name}}</span>
            <button>Select</button>
          </li> #}
        {% else %}
          <li>This would display if the 'item' collection were empty</li>
        {% endfor %}
      </ul>
    </nav>
  </aside>
  <aside>
    <nav>
      <ul id="flavors" class="box-flavors"></ul>
    </nav>
  </aside>
  <aside>
    <nav>
      <ul id="cart" class="box-cart"></ul>
    </nav>
  </aside>
</main>