<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/svg+xml" href="favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/style.css">
    <title>{{title}} | Web Components - design system</title>
    <script type="module" src="is-land.js"></script>
    <script type="module" src="js/main.js"></script>
  </head>
  <body class="container">
    {{ content | safe }}
    <is-land>This is an island.</is-land>
  </body>
</html>